/*
COLORES
    color: #FF00D6; FUCSIA
    color: #00FFB2; VERDE
    color:#9700CC; VIOLETA
    color: #04182B; fondo
    rgba(255, 255, 255, 0.1); TRANSPARENCIA
    #F9F8F5

*/

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body{
    background-color: #04182B; 
    font-family: Saira, sans-serif; 
    background-image: url('../images/Group.png');
    background-size: cover; /* Hace que la imagen cubra todo el área */
    background-position: center; 
    background-repeat: no-repeat; 
    
}

header{
    position: fixed; /* Hace que el header sea fijo */
    top: 0;          
    left: 0px;         
    right: 0;       
    display:flex;
    height: 50px;
    width: 100%; 
    background-color: #04182B;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

header button.btn-menu {
    background-color: transparent; 
    border: none; 
    padding: 0; 
    color: #FFFFFF;
    margin: 15px;
    font-size: 20px; 
} 


header a.link-home{
    margin-top: 15px;
}

header div{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    margin-top: 10px;

}

header div input{ 
    height: 10px;
    margin: 5px ; 
    margin-left: 40px;
    padding: 5px 5px 5px 5px; /* Espacio para la lupa */
    background-color:   rgba(255, 255, 255, 0.236);
    
}

header div iconify-icon{
    color: #FFFFFF;
    position: absolute; 
    right: 10px;
}

.img-perfil{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px 40px 10px 50px;
    cursor: pointer; 
    position: relative;
}

header div.container-perfil {
    display: none; 
    position: absolute;
    margin-left: 200px;
    top: calc(70% ); /* Se posiciona justo debajo de la imagen de perfil */
    background-color:  rgba(4, 24, 43, 0.8);
    z-index: 100;
    border-radius: 10px;
    height: 160px;
    width: 180px;
}

.container-perfil.visible {
    display: flex; /* Mostrar cuando tenga la clase 'visible' */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;    
}
header div.container-perfil a, header div.container-perfil a iconify-icon,header div.container-perfil p{
    color: #FF00D6; 
    font-size: 20px;
}
header div.container-perfil p{
    margin-left: 17px;
    color: #00FFB2;
}
header div.container-perfil a{
    color: #FFFFFF;
}
header div.container-perfil a iconify-icon{
    display: inline-block; /* Esto asegura que no se comporte como texto */
    font-size: inherit;    /* Hace que el tamaño del icono sea igual al texto */
    left: 2px;
    padding: 10px;
}
header div.container-perfil a{
    margin-left: 40px;
}

.carrito{
    color: #FFFFFF;
    margin: 15px 0 0 auto; /* margen superior, derecho, inferior y luego izquierdo (auto)  */
    font-size: 20px; 
}

nav {
    display: none; /* Nav oculto por defecto */
    background-color:  rgba(4, 24, 43, 0.8);
    position: absolute; /* Para que se superponga al contenido */
    top: 50px; /* Ajusta la posición debajo del header */
    left: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

nav.active {
    display: flex; 
    flex-direction: column;
}

nav a{
    display: flex;
    margin-left: 10px;
    margin-bottom: 15px; /* Espaciado entre enlaces */
}
nav a img{
    width: 25px;
    margin-right: 10px; /* Espacio entre imagen y texto */

}
a.link-home{
    color: #FF00D6;
    font-family: saira;
    font-size: 20px; /*30px*/
    text-transform: uppercase;  
}

.link-home iconify-icon{
    color: #FF00D6;
    
}

h2, h3, .container-perfil a , .container-perfil a iconify-icon{
    color:#9700CC;
}

h4{
    color: #FFFFFF;
}

input, select{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}
a{
    color:#F9F8F5;
}

button{
    border-radius: 20px;
    background-color:#00FFB2;
    color:#04182B;
}

.logo{
    text-align: center;
    margin-top:-3px; 
    margin-right: 0;
    padding-right: 0;
    margin-left: -10px; 
}

.logo iconify-icon{
    margin-left: 0;
    display: inline-block; 
    font-size: inherit;    
    margin-left: -7px; 
    padding-left: 0;
}
.container-form{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top:70px;
    
}
form {
    display: flex;
    flex-direction: column; 
    gap: 15px; /* Añade espacio entre los campos */
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;

}

form input{
    flex-direction: column;
    background-color: #04182B;
    opacity: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    color: #FFFFFF;
}

.container-form-inicio{
    margin-top: 70px;
}

.container-inicio{
    display: flex;            
    justify-content: flex-start; 
    padding-left: 0;
    height: 30px;  
    background-color: #04182B;
}

.container-inicio p {
    margin: 0;  
    color: #FFFFFF;           
    padding-left: 0;
}

.container-inicio iconify-icon{
    margin: 10px;
    margin-top: 25px;
    
}
/*-------------ANIMACION CARGA------------*/

/* Clase para ocultar la pantalla de carga */
.hidden {
    display: none;
}
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #00FFB2;
    font-size: 1.5em;
}

/* Estilo del spinner */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #9700CC; 
    border-top: 5px solid #FF00D6; /* Color de la animación del spinner */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*-------------------------------JUEGO-------------------------------*/
.breadcrumb-container {
    margin: 80px 20px;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    margin: 0 5px;
}

.breadcrumb li a {
    text-decoration: none;
    color: #FFFFFF; 
    transition: color 0.3s;
}

.breadcrumb li a:hover {
    color: #9700CC; 
}

.breadcrumb .active {
    color: #00FFB2;
    pointer-events: none; /* Desactivar el enlace del elemento activo */
}


.container-juego {
    display: flex;
    justify-content: center;
    position: relative;

}
.banner-juego{
    height: 600px;
    width: 1135px;
    border-radius: 10px;
    object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
}

.btn-play {
    height: 160px;
    width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: pulse 2s infinite; /* Añade un pulso suave */
}


.btn-play iconify-icon{
    font-size: 70px;
}

.container-descripcion-juego{
    background-color:  rgba(255, 255, 255, 0.1);
    width: 1133px;
    height: 582px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 380px;
    margin-top:50px;
    position: relative; 
}

.container-descripcion-juego div{
    justify-content: center;
    align-items: center;
    margin:10px;
    
}

.container-descripcion-juego h2, .container-descripcion-juego h3, .container-descripcion-juego p,h4 {
    color: #FFFFFF;
    margin: 10px;
    

}
.container-descripcion-juego h2{
    text-transform: uppercase;
}

.btn-compartir {
    background-color: rgba(255, 255, 255, 0.1); 
    width: 140px;
    height: 40px;
    margin: 10px;
    position: relative; 
    overflow: hidden; /* Para ocultar el pseudo-elemento cuando se salga del área del botón */
    transition-duration: 0.4s;
}

.btn-compartir:after {
    content: "";
    background: #00FFB2;
    display: block;
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    transform: scale(0); /* Inicialmente oculto usando escala */
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}

.btn-compartir:active:after {
    transform: scale(1); /* Escalar el pseudo-elemento para cubrir todo el botón */
    opacity: 1;
    transition: transform 0s, opacity 0s;
}


.container-img-juego {
    position: absolute; 
    top: 10px;
    right: 10px; 
    display: flex;
    flex-direction: column;
}

.container-descripcion-juego .container-img-juego img{
    width: 293px;
    height: 107px;
}

.img-descripcion-juego1{
    border-radius: 10px 10px 0 0; 
}
.img-descripcion-juego2{
    border-radius: 0 0 10px 10px; 
}

.comment-section {
    padding: 20px;
    border-radius: 8px;
    width: 1133px;
    margin: 20px auto;
    color: #FFFFFF;
}

.comment-input-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #9700CC;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.comment-input-box .img-perfil {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.comment-input-box textarea {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}


.send-button {
    background-color: #9700CC;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}

.comments-list .comment, .ver-mas-btn {
    display: flex;
    align-items: flex-start;
    border: 1px solid #9700CC;
    background-color: #04182B;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
    margin-top:10px
}

.comment-content {
    flex: 1;
}

.comment-author {
    font-weight: bold;
    color: #00FFB2;
    margin-top:10px;
}

.comment-text {
    margin: 5px 0;
}

.comment-actions {
    display: flex;
    gap: 15px;
    font-size: 14px;
}

.comment-actions .like,
.comment-actions .dislike,
.comment-actions .reply {
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 10px;
}

.ver-mas-btn {
    background-color: #04182B;
    width: 1133px;
    cursor: pointer;
    margin: 20px 0;
    font-size: 14px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}
/*---------------------------------------------------------------------*/
/*--------------------------------CARRUSEL--------------------------------*/

.carrusel  {
    position: relative;
    max-width: 90%;
    overflow: hidden;
    margin: 60px 20px 40px 20px;
    padding-left: 10px;
}

.carrusel-secundario{
    position: relative;
    max-width: 90%;
    overflow: hidden;
    margin: 10px 10px 20px 10px;
    padding: 15px;
}

.slides, .slides2 {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Animación suave */
    
}

.slide, .slide-card {
    position: relative; 
    box-sizing: border-box;
    margin: 5px;
}

.slide{
    min-width: 31.5%; /* Cada imagen ocupa un tercio del ancho del carrusel */
}

.slide-card{
    min-width: 24%; /* Cada imagen ocupa  (1/4) del ancho del carrusel */
}

.slide img {
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
    height: 200px;

}
.slide-card img {
    width: 130px; 
    height: 190px; 
    border-radius: 10px;
}

.slide div, .slide-card div{
    background-color: #FF00D6;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0px; /* Ajusta la posición del texto sobre la imagen */
    left: 0px;
    border-radius: 0 0 10px 10px;
}
.slide-card div{
    height: 40px;
    width: 130px;
}

div.comprar, .slide-card div.comprar{
    position: absolute;
    background-color: #FF00D6;
}

.slide-card div.comprar{
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.en-carrito {
    background-color: #00FFB2;
}

div.en-carrito p iconify-icon{
    font-size: 20px;
}
.slide div p, .slide-card div p{
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-top: 1px;
    
}
.btn-jugar,.slide-card .btn-jugar, .btn-comprar, .slide-card .btn-comprar{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px; 
    right: 10px;
    background-color: #00FFB2;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); 
}

.slide-card .btn-jugar, .slide-card .btn-comprar{
    bottom: 5px; 
    margin-right: -7px;
}

.btn-jugar:hover{
    animation: shaking 2s infinite;
}


.btn-comprar, .slide-card .btn-comprar{
    background-color: #9700CC;
}
.btn-comprar:hover{
    animation: saltar 0.5s;
}

button.btn-jugar iconify-icon, .slide-card button.btn-jugar iconify-icon, button.btn-comprar iconify, .slide-card button.btn-comprar iconify-icon {
    color: #FFFFFF;
    font-size: 10px;
    box-shadow: #00cc77;
}
button.btn-comprar iconify-icon, .slide-card button.btn-comprar iconify-icon{
    font-size: 20px;
}

div.comprar, div.en-carrito {
    position: absolute;
    top: 20px; 
    left: 0px; 
    height: 20px;
    width: 40px;
    padding: 8px ; 
    border-radius: 0 15px 15px 0; 
    z-index: 1; /* Asegura que esté sobre la imagen */
}

.slide-card div.en-carrito{
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-card div.en-carrito iconify-icon{
    font-size: 15px;
}

.prev, .prev2, .next, .next2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #9700CC; 
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev, .prev2 {
    left:20px;
}

.next, .next2 {
    right: 0px;
} 


.active-slide {
    animation: sobresalir 0.7s ease-in-out;
}

section h2{
    margin-left: 30px;
    font-size: 20px;
    color: #FF00D6;
}
/*---------------------------------------------------------------------*/
form p a{
    color: #FF00D6;
    opacity: 100%;
}
form h2, form p{
    text-align: center;
    margin-top: 10px;
    color: #FFFFFF;
    margin-inline: 15px;
    font-size: 15px;
    border: none;
}
form div{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

form label{
    margin-left: 15px;
    color: #FFFFFF;
}
form div p{
    color: #04182B;
    margin: 0;
}

form div iconify-icon {
    margin-left: 130px; 
    margin-top: 15px;
    height: 30px;
    width:30px;
    
}

form button{
    margin-inline:10px;
    height: 30px;
}

/*--------POPOVER---------*/
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none; /* Inicialmente oculto */
    z-index: 999; /* Asegura que esté por detrás del popover */
}
.popover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #04182B;
    color: #FFFFFF;
    padding: 20px;
    border: 1px solid #FF00D6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    border-radius: 8px;
    opacity: 0; /* Empieza invisible */
    transform: translate(-50%, -60%); /* Desplazado un poco hacia arriba */
    transition: opacity 0.5s ease, transform 0.5s ease; 
}
.popover-content.show {
    opacity: 1; /* Hace el popover visible */
    transform: translate(-50%, -50%); /* Posición centrada */
    animation: slideIn 0.5s ease forwards; 
}
.hidden {
    display: none; 
}
#closePopoverButton{
    height: 30px;
    width: 80px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

footer {
    background-color:  #04182B;
    border-top: 3px solid #9700CC;
    color: #fff;
    padding: 40px;
    margin: 10px 0px 0px 0px ;

}

footer h1.logo {
    display: flex;
    justify-content: center;
    
    
}


footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

footer .footer-container div {
    display: flex;
    flex-direction: column;
}

footer .footer-container   {
    margin-bottom: 10px;
}

footer .footer-container div div.newsletter, footer .footer-container div div.social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

footer .newsletter {
    gap: 10px; /* Espacio entre el input y el botón */

}


footer .newsletter input[type="email"] {
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #1c2c49;
    color: #fff;
}

footer .newsletter button {
    width: 100px;
    background-color: #00FFB2;
    padding: 5px 5px;
    cursor: pointer;
    color: #000;
    border-radius: 10px;
}

footer .newsletter button:hover {
    background-color: #00cc77;
}


footer div.footer-social{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-right: 10px;
}


footer div.social-icons iconify-icon {
    font-size: 1.5rem;
    color: #ccc;
    margin-left: 10px;
    margin-top: -14px;
    padding: 8px;
}



footer .language-select select {
    width: 100px;
    padding: 5px;
    border: none;
    background-color: #1c2c49;
    border: 2px solid #FFFFFF;
    color: #fff;
    margin: 5px;
    margin-left: 15px;
}

footer p {
    grid-column: 1 / -1;
    text-align: center;
    color: #666;
    margin-top: 20px;
    font-size: 0.8rem;
}

 /* Estilo del botón antes del hover */
button {
    background-color: #00FFB2; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

form button:hover { 
    background-color: #FF00D6; 
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 0, 214, 0.5); /* Sombra fucsia brillante */
}

  /* Efecto al hacer clic (active) */
button:active {
    transform: scale(0.98);
}


/*---------ANIMACION BOTON PLAY------------------*/
.btn-play:hover {
    background-color: rgba(151, 0, 204, 0.8);
    transform: translate(-50%, -50%) scale(1.2); /* El botón crece ligeramente */
    box-shadow: 0 0 40px rgba(151, 0, 204, 0.8); /* Resplandor violeta en hover */
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05); /* Pequeña expansión */
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.7); /* Resplandor más intenso */
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}


@keyframes saltar {
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform:translateY(-15px);
    }
    
}
@keyframes shaking {
    0% {
        transform: scale(1) rotate(0deg) translateX(0);
    }
    10% {
        transform: scale(1.1) rotate(5deg) translateX(2px);
    }
    20% {
        transform: scale(1.1) rotate(-5deg) translateX(-2px);
    }
    30% {
        transform: scale(1.1) rotate(4deg) translateX(1px);
    }
    40% {
        transform: scale(1.1) rotate(-4deg) translateX(-1px);
    }
    50% {
        transform: scale(1.05) rotate(3deg) translateX(0);
    }
    60% {
        transform: scale(1.05) rotate(-3deg) translateX(2px);
    }
    70% {
        transform: scale(1.05) rotate(2deg) translateX(-2px);
    }
    80% {
        transform: scale(1.05) rotate(-2deg) translateX(1px);
    }
    90% {
        transform: scale(1) rotate(1deg) translateX(0);
    }
    100% {
        transform: scale(1) rotate(0deg) translateX(0);
    }
}

/*ANIMACION CARRUSEL*/
@keyframes sobresalir {
    0% {
        transform: scale(1) rotate(0deg);
        z-index: 1; /* Mantén la tarjeta por debajo al iniciar */
    }
    50% {
        transform: scale(1.1) rotate(3deg);
        z-index: 2; /* Sobresale la tarjeta activa */
    }
    100% {
        transform: scale(1) rotate(0deg);
        z-index: 1; /* Vuelve a su posición inicial */
    }
}

  /* Animación del popover */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translate(-50%, -70%); /* Inicia más arriba y menos visible */
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%); /* Termina en la posición centrada */
    }
}
@media (min-width: 768px) {
    a.link-home{
        font-size: 30px; 
    }
    
    h1.logo{
        margin-top:12px;
    }
    header button.btn-menu{  
        margin: 20px;
        font-size: 30px; 
    }
    
    header{
        height: 60px;
    }
    header div{
        margin-top: 15px;
    }

    header div input{ 
        height: 20px;
        margin: 0px ; 
        padding: 8px 30px 8px 30px; /* Espacio para la lupa */
    
    }

    .img-perfil{
        height: 40px;
        width: 40px;
        margin: 12px 90px 10px 50px;
    }
    .carrito{
        color: #FFFFFF;
        margin: 20px 20px 0 auto; 
        font-size: 30px; 
    }

    nav{
        top:60px
    }

    .carrusel {
        margin: 80px 30px 50px 30px;
        padding-left: 50px; 
    }

    .carrusel-secundario{
        margin: 10px 50px 20px 30px;
        padding-left: 50px;
    }
    .slide{
        min-width: 32%; /* Cada imagen ocupa un tercio del ancho del carrusel */
    }
    .slide-card{
        min-width: 15.6%; /* Cada imagen ocupa  (1/6) del ancho del carrusel */
    }

    .slide, .slide-card {
        margin: 10px;
    }

    .slide img {
        border-radius: 20px;
        height: 300px;
    }

    .slide-card img{
        width: 260px;
        height: 200px;
    }
    .slide-card div{
        height: 40px;
        width: 260px;
        padding-bottom: 5px;
    }
    
    .slide-card div.comprar{
        height: 10px;
        margin-top: -30px;
    }

    .slide-card .btn-jugar, .slide-card .btn-comprar{
        bottom: 8px; /* Ajusta la posición del botón sobre la imagen */
        margin-right: 5px;
    }
    .prev, .prev2{
        left: 60px;
    }

    .next2{
        right: 20px;
    }
    .next {
        right: 15px;
    } 
    
    .slide div p, .slide-card div p{
        font-size: 14px;
        
    }
    .btn-jugar, .btn-comprar{
        width: 30px;
        height: 30px;
    }
    button.btn-jugar iconify-icon, button.btn-comprar iconify-icon{
        font-size: 20px;
    }
    button.btn-comprar iconify-icon{
        font-size: 30px;
    }
    
    div.comprar {
        top: 50px;
        height: 30px;
        width: 60px;
    }

    section h2{
        margin-left: 90px;
        font-size: 25px;
        
    }

    header div.container-perfil {
        margin-left: 800px;
        height: 230px;
        width: 270px;
    }
    
    header div.container-perfil a iconify-icon{
        left: 10px;
    }

    header div.container-perfil a, header div.container-perfil a iconify-icon,header div.container-perfil p{
        font-size: 30px; 
    }
    footer a:hover, span iconify-icon:hover,nav a:hover,footer .social-icons iconify-icon:hover,  div.container-perfil a:hover, header div.container-perfil a:hover {
        color: #FF00D6; 
    }


    header div.container-perfil p{
        margin-left: 30px;
    }

    header div.container-perfil a{
        margin-left: 60px;
    }
    
    footer {
        padding: 20px;
        margin: 50px 0px 0px 0px ;
    }
    footer h1.logo {
        margin-left: 40px;
        justify-content: flex-start;
    }

    footer .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        gap: 5px;
        margin-top: 10px;
    }
    
    div.navegacion{
        margin-left: 40px;

    }
    
    .navegacion{
        margin-left: 40px;
    }

    .container-suscripcion{
        display: grid;
    }



}