/*
COLORES
    color: #FF00D6; FUCSIA
    color: #00FFB2; VERDE
    color:#9700CC; VIOLETA
    color: #04182B; fondo
    rgba(255, 255, 255, 0.1); TRANSPARENCIA
    #F9F8F5

*/

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body{
    background-color: #04182B; 
    font-family: Saira, sans-serif; /*AGREGAR FUENTE*/
    background-image: url('../images/Group.png');
    background-size: cover; /* Hace que la imagen cubra todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
}

header{
    position: fixed; /* Hace que el header sea fijo */
    top: 0;          /* Asegúrate de que esté en la parte superior */
    left: 0;         /* Asegúrate de que esté alineado a la izquierda */
    right: 0;        /* Asegúrate de que esté alineado a la derecha */
    display:flex;
    height: 50px;
    width: 100%; /* Asegúrate de que el header ocupe todo el ancho */
    background-color: #04182B;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}
header button.btn-menu {
    background-color: transparent; /* Establece el fondo como transparente */
    border: none; 
    padding: 0; 
    color: #FFFFFF;
    margin: 15px;/*20px*/
    font-size: 20px; /*30px*/
} 


header a.link-home{
    margin-top: 15px;
}

header div{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    margin-top: 10px;/*15px*/

}

header div input{ 
    height: 10px;/*30px*/
    margin: 5px ; /*no va en desktop*/
    margin-left: 40px;
    padding: 5px 5px 5px 5px; /* Espacio para la lupa *//*8px 30px 8px 20px*/
    background-color:   rgba(255, 255, 255, 0.1);

}

header div iconify-icon{
    color: #FFFFFF;
    position: absolute;
    right: 10px;
   /* top: 50%;*/
  /* transform: translateY(-50%);*/
}

.img-perfil{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 5px 40px 10px 50px;
    cursor: pointer; 
    position: relative;
}

div.container-perfil {
    display: none; 
    position: absolute;
    margin-left: 210px;
    top: calc(70% ); /* Se posiciona justo debajo de la imagen de perfil */
    background-color:  #04182B;
    z-index: 100;
    border-radius: 10px;
    height: 210px;
    width: 160px;
    border:solid 2px #9700CC;
}

.container-perfil.visible {
    display: flex; /* Mostrar cuando tenga la clase 'visible' */
    flex-direction: column;
    justify-content: center;
 

}
header div.container-perfil a, header div.container-perfil a iconify-icon,header div.container-perfil p{
    font-size: 20px; 
    color: #9700CC; 
   
}

header div.container-perfil a iconify-icon{
    display: inline-block; /* Esto asegura que no se comporte como texto */
    font-size: inherit;    /* Hace que el tamaño del icono sea igual al texto */
    left: 2px;
    padding: 10px;
}
header div.container-perfil a{
    padding: 10px;
    margin-left: 30px;
    align-items: center;
}



.carrito{
    color: #FFFFFF;
    margin: 15px 0 0 auto; /* margen superior, derecho, inferior y luego izquierdo (auto) 20px 40px 0 auto */
    font-size: 20px; /*30px*/
}

nav {
    display: none; /* Nav oculto por defecto */
    background-color:  rgba(4, 24, 43, 0.8);
    position: absolute; /* Para que se superponga al contenido */
    top: 50px; /* Ajusta la posición debajo del header */
    left: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

nav.active {
    display: flex; 
    flex-direction: column;
}

nav a{
    display: flex;
    margin-left: 10px;
    margin-bottom: 15px; /* Espaciado entre enlaces */
}
nav a img{
    width: 25px;
    margin-right: 10px; /* Espacio entre imagen y texto */

}
a.link-home{
    color: #FF00D6;
    font-family: saira;
    font-size: 20px; /*30px*/
    text-transform: uppercase;  
}

.link-home iconify-icon{
    color: #FF00D6;
    
}

h2, h3, .container-perfil a , .container-perfil a iconify-icon{
    color:#9700CC;
}

h4{
    color: #FFFFFF;
}

input, select{
    background-color: #FFFFFF;
    color: #FFFFFF;
    opacity: 20%;
    border-radius: 10px;
}
a{
    color:#F9F8F5;
}

button{
    border-radius: 20px;
    background-color:#00FFB2;
    color:#04182B;
}

.logo{
    text-align: center;
    margin-top:3px; /*50px*/
    margin-right: 0;
    padding-right: 0;
    margin-left: -10px; /*en desktop no va*/
}

.logo iconify-icon{
    margin-left: 0;
    display: inline-block; /* Esto asegura que no se comporte como texto */
    font-size: inherit;    /* Hace que el tamaño del icono sea igual al texto */
    margin-left: -7px; /* Ajusta el margen izquierdo para pegar el icono al texto */
    padding-left: 0;
}
.container-form{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
form {
    display: flex;
    flex-direction: column; 
    gap: 15px; /* Añade espacio entre los campos */
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;

}

form input{
    flex-direction: column;
    background-color: #04182B;
    opacity: 100%;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}

.container-form-inicio{
    margin-top: 70px;
}

.container-inicio{
    display: flex;            /* Alinea los elementos en fila */
    justify-content: flex-start; /* Alinea al lado izquierdo */
    padding-left: 0;
    height: 30px;  
    background-color: #04182B;
}

.container-inicio p {
    margin: 0;  
    color: #FFFFFF;           
    padding-left: 0;
}

.container-inicio iconify-icon{
    margin: 10px;
    margin-top: 25px;
    
}
/*-------------ANIMACION CARGA------------*/
.spinner{
    width: 36px;
    height: 36px;
    border: 5px solid #FF00D6;
    border-top-color: #000;
    border-radius: 100%;

    animation: spin 1s infinite;
}

@keyframes spin {
    to{ transform: rotate(360deg)}
}
/*-------------------------------JUEGO-------------------------------*/
.breadcrumb-container {
    margin: 80px 20px;
}

.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb li {
    margin: 0 5px;
}

.breadcrumb li a {
    text-decoration: none;
    color: #FFFFFF; 
    transition: color 0.3s;
}

.breadcrumb li a:hover {
    color: #9700CC; 
}

.breadcrumb .active {
    color: #00FFB2;
    pointer-events: none; /* Desactivar el enlace del elemento activo */
}


.container-juego {
    display: flex;
    justify-content: center;
    position: relative;
 
}
.banner-juego{
    height: 600px;
    width: 1135px;
    border-radius: 10px;
    object-fit: cover; /* Asegura que la imagen se ajuste bien al contenedor */
}

.btn-play {
    height: 160px;
    width: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    animation: pulse 2s infinite; /* Añade un pulso suave */
}


.btn-play iconify-icon{
    font-size: 70px;
}

.container-descripcion-juego{
    background-color:  rgba(255, 255, 255, 0.1);
    width: 1133px;
    height: 582px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 380px;
    margin-top:50px;
    position: relative; 
}

.container-descripcion-juego div{
    justify-content: center;
    align-items: center;
    margin:10px;
    
}

.container-descripcion-juego h2, .container-descripcion-juego h3, .container-descripcion-juego p,h4 {
    color: #FFFFFF;
    margin: 10px;
    

}
.container-descripcion-juego h2{
    text-transform: uppercase;
}

.btn-compartir {
    background-color: rgba(255, 255, 255, 0.1); 
    width: 140px;
    height: 40px;
    margin: 10px;
    position: relative; /* Asegurarse de que el pseudo-elemento esté posicionado en relación al botón */
    overflow: hidden; /* Para ocultar el pseudo-elemento cuando se salga del área del botón */
    transition-duration: 0.4s;
}

.btn-compartir:after {
    content: "";
    background: #00FFB2;
    display: block;
    position: absolute;
    width: 100%; /* Ocupa todo el ancho del botón */
    height: 100%; /* Ocupa toda la altura del botón */
    top: 0; /* Alinear con la parte superior del botón */
    left: 0; /* Alinear con la parte izquierda del botón */
    transform: scale(0); /* Inicialmente oculto usando escala */
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}

.btn-compartir:active:after {
    transform: scale(1); /* Escalar el pseudo-elemento para cubrir todo el botón */
    opacity: 1;
    transition: transform 0s, opacity 0s;
}


.container-img-juego {
    position: absolute; /* Permite mover el div a cualquier lugar dentro del contenedor padre */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la parte derecha */
    display: flex;
    flex-direction: column;
}

.container-descripcion-juego .container-img-juego img{
    width: 293px;
    height: 107px;
}

.img-descripcion-juego1{
    border-radius: 10px 10px 0 0; 
}
.img-descripcion-juego2{
    border-radius: 0 0 10px 10px; 
}

.comment-section {
    padding: 20px;
    border-radius: 8px;
    width: 1133px;
    margin: 20px auto;
    color: #FFFFFF;
}

.comment-input-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #9700CC;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.comment-input-box .img-perfil {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.comment-input-box textarea {
    flex: 1;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: white; 
    opacity: 1; 
}

.send-button {
    background-color: #9700CC;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}

.comments-list .comment, .ver-mas-btn {
    display: flex;
    align-items: flex-start;
    border: 1px solid #9700CC;
    background-color: #04182B;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
    margin-top:10px
}

.comment-content {
    flex: 1;
}

.comment-author {
    font-weight: bold;
    color: #00FFB2;
    margin-top:10px;
}

.comment-text {
    margin: 5px 0;
}

.comment-actions {
    display: flex;
    gap: 15px;
    font-size: 14px;
}

.comment-actions .like,
.comment-actions .dislike,
.comment-actions .reply {
    cursor: pointer;
    color: #FFFFFF;
    margin-top: 10px;
}

.ver-mas-btn {
    background-color: #04182B;
    width: 1133px;
    cursor: pointer;
    margin: 20px 0;
    font-size: 14px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}
/*---------------------------------------------------------------------*/
/*--------------------------------CARRUSEL--------------------------------*/

.carrusel {
    position: relative;
    max-width: 90%;
    overflow: hidden;
    margin: 60px 20px 10px 20px;
    padding-left: 10px;


    
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Animación suave */
    
}

.slide {
    min-width: 33.33%; /* Cada imagen ocupa un tercio del ancho del carrusel */
    box-sizing: border-box;
    margin: 5px;
}

  .slide img {
    width: 100%;
    vertical-align: middle;
    border-radius: 10px;
    height: 200px;
   
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #9700CC; 
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left:20px;
  }
  
  .next {
    right: 0px;
  } 



  

/*---------------------------------------------------------------------*/
form p a{
    color: #FF00D6;
    opacity: 100%;
}
form h2, form p{
    text-align: center;
    margin-top: 10px;
    color: #FFFFFF;
    margin-inline: 15px;
    font-size: 15px;
    border: none;
}
form div{
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #FFFFFF;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

form label{
    margin-left: 15px;
    color: #FFFFFF;
}
form div p{
    color: #04182B;
    margin: 0;
}

form div iconify-icon {
    margin-left: 130px; 
    margin-top: 15px;
    height: 30px;
    width:30px;
    
}

form button{
    margin-inline:10px;
    height: 30px;
}

footer {
    background-color:  #04182B;
    border-top: 3px solid #9700CC;
    color: #fff;
    padding: 40px;
    margin: 50px 30px 10px 30px ;
}

footer h1.logo {
    margin-top: 5px;
    display: flex;
}

footer h1.logo iconify-icon {
    margin-left:2px;
}

footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 3fr;
    gap: 5px;
    margin-top: 30px;
}

footer .footer-container div {
    display: flex;
    flex-direction: column;
}

footer .footer-container   {
    margin-bottom: 10px;
}

.container-suscripcion{
    display: grid;
    
}


footer .newsletter {
    gap: 10px;
}

footer .newsletter input[type="email"] {
    
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #1c2c49;
    color: #fff;
}

footer .newsletter button {
    width: 100px;
    background-color: #00FFB2;
    padding: 5px 5px;
    cursor: pointer;
    color: #000;
    border-radius: 10px;
}

footer .newsletter button:hover {
    background-color: #00cc77;
}

footer .social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

footer .social-icons iconify-icon {
    font-size: 1.5rem;
    color: #ccc;
}



footer .language-select select {
    width: 100px;
    padding: 5px;
    border: none;
    background-color: #1c2c49;
    border: 2px solid #FFFFFF;
    color: #fff;
}

footer p {
    grid-column: 1 / -1;
    text-align: center;
    color: #666;
    margin-top: 20px;
    font-size: 0.8rem;
}
/*color: #FF00D6; FUCSIA
color: #00FFB2; VERDE
color:#9700CC; VIOLETA
 */
 /* Estilo del botón antes del hover */
button {
    background-color: #00FFB2; /* Verde inicial */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
  /* Efecto hover */
form button:hover { /*VER SI FUNCIONA AL AGREGARLE FORM*/
    background-color: #FF00D6; /* Fucsia al pasar el mouse */
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(255, 0, 214, 0.5); /* Sombra fucsia brillante */
}

  /* Efecto al hacer clic (active) */
button:active {
    transform: scale(0.98);
}

  /* Animación del borde al crear la cuenta */
@keyframes borderAnimation {
    0% {
        border: 2px solid transparent;
    }
    50% {
      border: 2px solid #9700CC; /* Violeta durante la animación */
      box-shadow: 0 0 10px rgba(151, 0, 204, 0.7); /* Sombra violeta brillante */
    }
    100% {
        border: 2px solid transparent;
    }
}

  /* Aplicación de la animación */
button.submitted {
    animation: borderAnimation 0.8s ease;
}

/*---------ANIMACION BOTON PLAY------------------*/
.btn-play:hover {
    background-color: rgba(151, 0, 204, 0.8);
    transform: translate(-50%, -50%) scale(1.2); /* El botón crece ligeramente */
    box-shadow: 0 0 40px rgba(151, 0, 204, 0.8); /* Resplandor violeta en hover */
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.05); /* Pequeña expansión */
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.7); /* Resplandor más intenso */
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 768px) {
    a.link-home{
        font-size: 30px; 
    }
    
    h1.logo{
        margin-top:12px;
    }
    header button.btn-menu{  
        margin: 20px;/*20px*/
        font-size: 30px; /*30px*/
    }
    
    header{
        height: 60px;
    }
    header div{
        margin-top: 15px;/*15px*/
    }

    header div input{ 
        height: 20px;/*30px*/
        margin: 0px ; /*no va en desktop*/
        padding: 8px 100px 8px 30px; /* Espacio para la lupa *//*8px 30px 8px 20px*/
    
    }

    .img-perfil{
        height: 40px;
        width: 40px;
        margin: 12px 90px 10px 50px;
    }
    .carrito{
        color: #FFFFFF;
        margin: 20px 20px 0 auto; 
        font-size: 30px; 
    }

    nav{
        top:60px
    }

    div.container-perfil {
        margin-left: 800px;
        top: calc(100% );
        height: 259px;
        width: 250px;
        
    }

    .carrusel {
        margin: 80px 50px 10px 30px;
        padding-left: 50px; 
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out; /* Animación suave */
        
    }

    .slide {
        margin: 10px;
    }

    .slide img {
        border-radius: 20px;
        height: 300px;
    }

    .prev {
        left: 60px;
    }
    .next {
        right: 5px;
    } 
    

    header div.container-perfil a iconify-icon{
        display: inline-block; /* Esto asegura que no se comporte como texto */
        font-size: inherit;    /* Hace que el tamaño del icono sea igual al texto */
        left: 10px;
        padding: 10px;
    }

    header div.container-perfil a, header div.container-perfil a iconify-icon,header div.container-perfil p{
        font-size: 30px; 
    }
    footer a:hover, span iconify-icon:hover,nav a:hover,footer .social-icons iconify-icon:hover,  div.container-perfil a:hover {
        color: #FF00D6; 
    }
    
    /* imagenes con tamaño default*/
    /*img {
        width: 172px;
        height: 180px;
    }*/
    
}